@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@theme { 
    --font-display: "Itim", cursive;
    --font-Kanit : "Kanit", sans-serif;
}
/* ใส่ใน index.css หรือ global CSS */
html, body {
  background-color: #fce7f3; /* หรือใส่โทนสีพาสเทลหลักของแอปคุณ เช่น bg-pink-100 */
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overscroll-behavior-y: none; /* ป้องกันไม่ให้ไถแล้วขอบเด้งแลบขาว */
}